<div class="background">
    <div class="vertical-text">PANGAEA</div>
    <div class="center-text">Vérité²</div>
    <div class="buttons" *ngIf="!createGame">
        <button class="button-74" role="button" (click)="handleCreateGame()">Créer</button>
        <button class="button-74" role="button">Rejoindre</button>
    </div>
    <div class="buttons" *ngIf="createGame">
        <app-create-truth-game></app-create-truth-game>
    </div>
    <div class="footer-text">Copyright © GLCorp - 2023-2024 - All Right Reserved</div>
</div>
