.background {
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.vertical-text {
    font-size: 12.2em;
    color: white;
    font-family: 'Inter';
    font-weight: bold;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    opacity: 0.05;
    overflow: hidden;
}

.center-text {
    position: fixed;
    top: 10%;
    font-size: 9Vh;
    font-family: 'Inter';
    font-weight: bold;
    color: #8f0000;
}

.footer-text {
    position: fixed;
    bottom: 5%;
    font-size: 1.5vh;
    font-family: 'Inter';
    font-weight: bold;
    color: #ffffff;
}

.buttons {
    position: fixed;
    display: flex;
    flex-direction: column;
}

.button-74 {
    margin: 5% 0vh;
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 20px;
    box-shadow: #8f0000 3px 3px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 4vh;
    padding: 0 18px;
    line-height: 8vh;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-74:hover {
    background-color: #fbeee0;
}

.button-74:active {
    box-shadow: #8f0000 2px 2px 0 0;
    transform: translate(5px, 5px);
}

@media (min-width: 768px) {
    .button-74 {
        min-width: 120px;
        padding: 0 25px;
    }
}
