<div class="background">
    <div class="vertical-text">PANGAEA</div>
    <div class="center-text">PANGAEA</div>
    <div class="buttons">
        <button class="button-74" role="button" (click)="handleButtonClick('Loup-Garou')">
            <img *ngIf="!loupgarou" src="../../../assets/images/Loup1.png" id="buttonImage">
            <img *ngIf="loupgarou" src="../../../assets/images/Loup2.png" id="buttonImage">
            Loup-Garou</button>
        <button class="button-74" role="button" (click)="handleButtonClick('tictac')">
            <img *ngIf="!tictac" src="../../../assets/images/bombe1.png" id="buttonImage">
            <img *ngIf="tictac" src="../../../assets/images/bombe2.png" id="buttonImage">
            Tic-Tac Bombe</button>
        <button class="button-74" role="button" (click)="handleButtonClick('verite')">
            <img *ngIf="!verite" src="../../../assets/images/eyes1.png" id="buttonImage">
            <img *ngIf="verite" src="../../../assets/images/eyes2.png" id="buttonImage">
            Vérité ou vérité</button>
    </div>
    <div class="footer-text">Copyright © GLCorp - 2023-2024 - All Right Reserved</div>
</div>
