<div class="background">
    <div class="vertical-text">PANGAEA</div>
    <div class="center-text">Vérité²</div>
    <div class="buttons">
        <input class="button-75" placeholder="Nom du joueur..." />
        <button class="button-74" role="button">+</button>
    </div>
    <div class="buttons2">
        <button class="imgbutton" (click)="handleImg(0)">
            <img *ngIf="!active[0]" src="../../../assets/images/feu.png" />
            <img *ngIf="active[0]" src="../../../assets/images/feu2.png" />
        </button>
        <button class="imgbutton" (click)="handleImg(1)">
            <img *ngIf="!active[1]" src="../../../assets/images/feu.png" />
            <img *ngIf="active[1]" src="../../../assets/images/feu2.png" />
        </button>
        <button class="imgbutton" (click)="handleImg(2)">
            <img *ngIf="!active[2]" src="../../../assets/images/feu.png" />
            <img *ngIf="active[2]" src="../../../assets/images/feu2.png" />
        </button>
    </div>
    <div class="footer-text">Copyright © GLCorp - 2023-2024 - All Right Reserved</div>
</div>
