.background {
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.vertical-text {
    font-size: 12.2em;
    color: white;
    font-family: 'Inter';
    font-weight: bold;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    opacity: 0.05;
    overflow: hidden;
}

.center-text {
    position: fixed;
    font-size: 9.5vh;
    font-family: 'Inter';
    font-weight: bold;
    color: #8F0000;
}
